@media screen and (max-width: 1200px) {
   .intro-content{
    background-color:rgba(29, 29, 30, 0.5);
   }

   .info-section {
    background-color:rgba(29, 29, 30, 0.5);
    margin-top: -140px;
   }
}